<span>
    <span class="leftArrow" ng-click="advanceLeft()"><--</span>
    <span ng-repeat="itm in items" ng-show="itemIsInWindow($index)" class="horizontal-image-scroller-item-container">

            <span class="horizontal-image-scroller-image"><img ng-src="{{itm.imageUrl}}"
                                                               ng-style="{height:imageHeight}"
                                                               style="background-color: #c0c0c0"/></span>
            <span class="horizontal-image-scroller-description" ng-bind="itm.description"></span>

    </span>
<span class="rightArrow" ng-click="advanceRight()">--></span>
    <div>current item: {{currentItem}}</div>
</span>