.horizontal-image-scroller-dirictive-container {
    white-space: nowrap;
    overflow-y: hidden;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    display: block;
}

.horizontal-image-scroller-items-container-container{
   display: inline-block;
   position: relative;
   left: 29px;
   width: 98%;
}

.horizontal-image-scroller-items-container {
    display: table;
    width: 95%;
    border-bottom: 3px solid #53ABAE;
    padding-bottom: 5px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #fafff9 91%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(91%, #fafff9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #fafff9 91%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #fafff9 91%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #fafff9 91%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #fafff9 91%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fafff9', GradientType=0); /* IE6-9 */
}

.horizontal-image-scroller-item-container {
    display: table-cell;
     width: 1000px; /*net effect of equalizing widths*/
     text-align: center;
}

.horizontal-image-scroller-item-container.ng-enter{
    opacity:0;
    animation: 1s linear all;
    transition: opacity ;
}

.horizontal-image-scroller-item-container.ng-enter-active{

    opacity: 1;
}


.horizontal-image-scroller-item-container.ng-hide-add {
    -webkit-animation: fadeOutLeft 1s;
    -moz-animation: fadeOutLeft 1s;
    -ms-animation: fadeOutLeft 1s;
    animation: fadeOutLeft 1s;
}

.horizontal-image-scroller-item-container.ng-hide-remove {
    -webkit-animation: slideInRight 1s;
    -moz-animation: slideInRight 1s;
    -ms-animation: slideInRight 1s;
    animation: slideInRight 1s;
}

.horizontal-image-scroller-image {
    width: 100px;
    height: 100px;
    position: relative;
    /* display: table-caption; */
    /* text-align: center; */
}

.horizontal-image-scroller-description {
    display: block;
    margin: 11px;
    white-space: normal;
    font-size:.8rem;
}

.horizontal-image-scroller-arrow-left-container {
    position: absolute;
}

.horizontal-image-scroller-arrow-right-container {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-left: 10px;
}

.horizontal-image-scroller-arrow {
    cursor: pointer;
    height: 90px;
    margin-top: 40px;
}

.horizontal-image-scroller-arrow-enabled{
    fill:#53ABAE;
}

.horizontal-image-scroller-arrow-disabled{
    fill:lightgray;
}

.horizontal-image-scroller-title {
    color: #53ABAE;
    font-weight: bold;
    text-align: center;
    display: block;
}
