<div>
    <div class="address-suggestion-message-container" ng-show="address.loading">
        <span class="address-suggestion-message-center">Checking address....</span>
    </div>

    <div class="address-suggestion-message-container" ng-show="address.waitingForUserInputChoice">
        <span class="address-suggestion-message-top">We found an address that may work better. Which one would you like to use?</span>
        <table class="address-suggestion-table">
            <tr class="address-suggestion-table-row">
                <td><input type="radio" name="rad{{addressidentifier}}" ng-model="addressSource" checked="checked"
                           value="suggested" id="rad1{{addressidentifier}}" class="address-suggestion-radio">
                </td>
                <td>
                    <label for="rad1{{addressidentifier}}"><span class="address-suggestion-type">Suggested:</span>
                        <span class="address-suggestion-address-label">
                            <span ng-bind="suggestedAddress.address1"></span>
                            <span ng-bind="suggestedAddress.address2"></span>,
                            <span ng-bind="suggestedAddress.city"></span>
                            <span ng-bind="suggestedAddress.state"></span>
                            <span ng-bind="suggestedAddress.zip"></span>
                        </span>
                    </label>
                </td>
                <td rowspan="2">
                        <span class="address-suggestion-button-container">
                             <button class="address-suggestion-ok-button" ng-click="clickOk()">OK</button>
                             <button class="address-suggestion-cancel-button" ng-click="cancel()">Cancel</button>
                        </span>
                </td>
            </tr>
            <tr class="address-suggestion-table-row">
                <td><input type="radio" name="rad{{addressidentifier}}" ng-model="addressSource" value="original"
                           id="rad2{{addressidentifier}}" class="address-suggestion-radio"></td>
                <td>
                    <label for="rad2{{addressidentifier}}"><span class="address-suggestion-type">Original:</span>
                            <span class="address-suggestion-address-label">
                            <span ng-bind="originalAddress.address1"></span>
                            <span ng-bind="originalAddress.address2"></span>,
                            <span ng-bind="originalAddress.city"></span>
                            <span ng-bind="originalAddress.state"></span>
                            <span ng-bind="originalAddress.zip"></span>
                        </span>
                    </label>
                </td>
            </tr>

            </tr></table>

    </div>

    <div class="address-suggestion-message-container" ng-show="address.waitingForUserInputSingle">
        <span class="address-suggestion-message-left">We were unable to validate the address you entered.  Are you certain this is correct?</span>

    <span class="address-suggestion-button-container">
        <button class="address-suggestion-ok-button" ng-click="clickOk('original')">OK</button>
        <button class="address-suggestion-cancel-button" ng-click="cancel()">Cancel</button>
    </span>
    </div>
</div>