<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addressSuggestion Directive Test</title>
    <link rel="stylesheet" href="style.css"/>

    </head>
<body data-ng-app="app" style="padding: 2rem;">
<a href="http://duke83.github.io/referenceApps/validAddress/index.html">http://duke83.github.io/referenceApps/addressSuggestion/index.html</a>

<div data-ng-controller="addressSuggestionTestCtrl" class="test-scenario">

    <span class="test-name">
        check address suggestion for: <input type="text" data-ng-model="currentindex" style="width:50px">
    <button data-ng-click="runTest()">runTest</button>{{testResult}}
    </span>


    <div data-ng-repeat="addr in addresses" style="margin:30px;">
        <input ng-model="addr.firstName" placeholder="First Name" class="app-input">
        <input ng-model="addr.lastName" placeholder="Last Name" class="app-input">

        <address-suggestion ng-attr-address="addr"></address-suggestion>

        <input ng-model="addr.address1" placeholder="address1" class="app-input">
        <input ng-model="addr.address2" placeholder="address2" class="app-input">
        <input ng-model="addr.city" placeholder="city" class="app-input">
        <input ng-model="addr.state" placeholder="state" class="app-input">
        <input ng-model="addr.zip" placeholder="zip" class="app-input">
        <input ng-model="addr.instructions" placeholder="Instructions" class="app-input">

        <div style="font-size:smaller; color:gray">{{addr}}</div>
    </div>


</div>


<!-- ISOLATED UI DEV VENDOR SCRIPTS START -->
<script src="vendor_local/jquery.min.js"></script>
<script src="vendor_local/angular.js"></script>
<!-- ISOLATED UI DEV VENDOR SCRIPTS END -->


<!-- APPLICATION SCRIPTS START -->
<script src="app.js"></script>
<script src="addressSuggestionTestCtrl.js"></script>
<script src="webConfigFake.js"></script>
<script src="addressSuggestionDirective.js"></script>
<script src="serverApiFake.js"></script>
<!-- APPLICATION SCRIPTS START -->

</body>
</html>