.horizontal-image-scroller-dirictive-container {
    white-space: nowrap;
    overflow-y: hidden;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    display: block;
    margin-top: 1.25rem;
}

.horizontal-image-scroller-dirictive-table{
    display:table;
    width:100%;
}

.horizontal-image-scroller-items-container-container{
   display: inline-block;
   position: relative;
   /* left: 29px; */
   width: 100%;
}

.horizontal-image-scroller-items-container {
    display: table;
    width: 100%;
    border-bottom: 3px solid #53ABAE;
    padding-bottom: 5px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #D7ECEE 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #D7ECEE 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #D7ECEE 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #D7ECEE 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #D7ECEE 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#D7ECEE', GradientType=0); /* IE6-9 */
}

.horizontal-image-scroller-item-container {
    display: table-cell;
     width: 1000px; /*net effect of equalizing widths*/
     text-align: center;
}

.horizontal-image-scroller-item-container.ng-enter{
    opacity:0;
    animation: 1s linear all;
    transition: opacity ;
}

.horizontal-image-scroller-item-container.ng-enter-active{
    opacity: 1;
}

.horizontal-image-scroller-item-container.ng-hide-add {
    -webkit-animation: fadeOutLeft 1s;
    -moz-animation: fadeOutLeft 1s;
    -ms-animation: fadeOutLeft 1s;
    animation: fadeOutLeft 1s;
}

.horizontal-image-scroller-item-container.ng-hide-remove {
    -webkit-animation: slideInRight 1s;
    -moz-animation: slideInRight 1s;
    -ms-animation: slideInRight 1s;
    animation: slideInRight 1s;
}

.horizontal-image-scroller-image {
    width: 100px;
    height: 100px;
    position: relative;
}

.horizontal-image-scroller-description {
    display: block;
    margin: 11px;
    white-space: normal;
    font-size:.8rem;
}

.horizontal-image-scroller-arrow-left-container {
    display: table-cell;
    vertical-align: middle;
}

.horizontal-image-scroller-arrow-right-container {
    display: table-cell;
    vertical-align: middle;
}

.horizontal-image-scroller-arrow {
    cursor: pointer;
    height: 90px;
    /* margin-top: 40px; */
}

.horizontal-image-scroller-arrow-enabled{
    fill:#53ABAE;
}

.horizontal-image-scroller-arrow-disabled{
    fill:lightgray;
}

.horizontal-image-scroller-title {
    color: #53ABAE;
    font-weight: bold;
    text-align: center;
    display: block;
}
