.blooming-menu-container-inactive {

  z-index: 10;
  position: fixed;
  bottom: 0;

  right: 0;

  opacity:1.0;
}

.blooming-menu-container-active{
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  opacity:1;

  //top: 50px;

}

.l5{
  border-radius: 50%;
  width:3200px;
  height: 3200px;
  background-color: #f40001;
  position:fixed;
  bottom:-1545px;
  right:-1545px;
}

.l4{
  border-radius: 50%;
  width:2500px;
  height: 2500px;
  background-color: #e10001;
  position:fixed;
  bottom:-1185px;
  right:-1185px;
}


.l3{
  border-radius: 50%;
  width:1800px;
  height: 1800px;
  background-color: #cb0001;
  position:fixed;
  bottom:-845px;
  right:-845px;
}

.l2{

  border-radius: 50%;
  width:1050px;
  height: 1050px;
  background-color: #b30001;
  position:fixed;
  bottom:-460px;
  right:-460px;
}


.l1{

  border-radius: 50%;
  width:300px;
  height: 300px;
  background-color: #930001;
  position:fixed;
  bottom:-85px; // -65
  right:-85px;
}
.lhide{

}

.blooming-menu-container-menu-text {
  color: white;
  font-size: 3.5rem;

  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  bottom: 40px;
  right: 20px;
  opacity:1;
  position:absolute;
}


.button-container{
  display: inline-block;
  position: fixed;
  top: 300px;

  right: 0;
  width: 500px;
  font-size: 2rem;
  font-family: sans-serif;

}

.button-container-button{
  display: block;
  height:100px;
  margin:3px;
  opacity:.5;
  background-color: darkred;
}

.button-container-button-text{
  color:white;
  opacity:1;

}